<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<script id="setmore_script" type="text/javascript" src="https://my.setmore.com/webapp/js/src/others/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none; position: fixed; right: -2px; top: 25%; display: block; z-index: 20000" href="https://booking.setmore.com/scheduleappointment/5c9b0fe8-cbca-47fb-ae5d-a62b1ffe6dc8"><img border="none" src="https://storage.googleapis.com/full-assets/setmore/images/1.0/Calendar/Setmore-Book-Now.png" alt="Book an appointment with TBD Host using Setmore" /></a>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="55">
  <div id="content">
    {{ partial "preloader.html" . }}
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>



</html>
