{{ $data := index site.Data site.Language.Lang }}

{{ if $data.benefit.benefit.enable }}
{{ with $data.benefit.benefit }}

{{"<!-- Welcome Slider-->" | safeHTML}}

<section color="#fff" class="gfNUNj section_benefit"> <h4 color="#fff" font-size="[object Object]" font-weight="300" font-family="GothamBold" class="typography__TitleComponent-sc-1l2kx9v-0 EdMXU">TBDHost te ayuda </h4>
    <div class="styles__MetricsContainer-sc-1gerrcp-0 dxSgAb">
        <div class="styles__MetricContainer-sc-1gerrcp-1 fQNkVp"><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">Ahorrar hasta</p><span font-size="6rem" color="#E3545E" font-family="GothamBold" font-weight="300" class="typography__ParagraphComponent-sc-1l2kx9v-1 gOtFHD">51</span><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">horas por mes</p></div> 
        <div class="styles__MetricContainer-sc-1gerrcp-1 fQNkVp"><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">Ganar hasta </p><span font-size="6rem" color="#E3545E" font-family="GothamBold" font-weight="300" class="typography__ParagraphComponent-sc-1l2kx9v-1 gOtFHD">52%</span><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">más que en renta tradicional</p></div>
        <div class="styles__MetricContainer-sc-1gerrcp-1 fQNkVp"><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">Generar ingresos hasta </p><span font-size="6rem" color="#E3545E" font-family="GothamBold" font-weight="300" class="typography__ParagraphComponent-sc-1l2kx9v-1 gOtFHD">31% </span><p font-size="1.8rem" color="#fff" font-weight="300" font-family="GothamBook" class="typography__ParagraphComponent-sc-1l2kx9v-1 kpEcPO">más altos que el promedio del mercado</p></div>
    </div>
</section>

{{end}}
{{end}}